<div class="container-fluid">
  <div class="row">

    	    <footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4 m-b-30">
					<div class="footer-title m-t-5 m-b-20 p-b-8">
						About InstantMeetings
					</div>	
          <div color="#fff">
</div>
					<p class="white-text">
						InstantMeetings is an online web conferencing server. You can create your own rooms to host sessions, or join others using a short and convenient link.
					</p>
				</div>
        			
				<div class="col-md-4 m-b-30">
					<div class="footer-title m-t-5 m-b-20 p-b-8">
						Support
					</div>	
					<div class="footer-links">
            						<a href="#">
							FAQ
						</a>
                        						<a href="#">
							Compatibility List
						</a>
            						<a href="#">
							Getting Started Guide
						</a>

						<a href="#">
							Submit a Sales Ticket
						</a>
						<a href="#">
							Submit a Support Ticket
						</a>


					</div>


				</div>
        	<div class="col-md-4 m-b-30">
					<div class="footer-title m-t-5 m-b-20 p-b-8">
						Legal
					</div>	
					<div class="footer-links">
						<a href="/pages/terms_of_use">
							Terms of Use
						</a>


						<a href="/pages/privacy_policy">
							Privacy Policy
						</a>

            			<a href="/pages/refund_policy">
							Refund Policy
						</a>
            			<a href="/pages/security_policy">
							Security Policy
						</a>
            			<a href="/pages/terms_of_service">
							Terms of Service
						</a>
             			<a href="/pages/acceptable_use_policy">
							Acceptable Use Policy
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div class="footer-bottom">
		Powered by SMC IT Solutions 2020
	</div>

	</div>
</div>

<%= render "shared/components/cookie_warning" %>
