<div class="container railspt-9">
<br>
<h1 class="text-center ">Acceptable Use Policy</h1>

<h2>Introduction</h2>
<p>
While we provide our services to you for certain legitimate purposes, there are certain purposes for which you should not use our services under any circumstances. This policy describes what you <strong>cannot do</strong> with our services. We trust you as our customer and person of integrity to abide by this policy, but if you breach the policy or help others to do so – we may suspend or terminate your use of the services.
</p>

<h2>Definitions</h2>
<p>In this policy, the following words have the following meanings:
<ul>
    <li><strong>content</strong> means any submissions made to the website, whether public or private, including messages or comments on the content of other users;</li>
    <li><strong>policy</strong> means this acceptable use policy;</li>
    <li><strong>services</strong> means the web services offered by us on or through the website;</li>
    <li><strong>website</strong> means the website located at https://instantmeetings.co.za; and</li>
    <li><strong>system</strong> means any network, computer or communications system, software application, or network or computing device.</li>
</ul>
</p>

<h2>Responsibility</h2>
<p>You are responsible for your <strong>conduct, profile, and content</strong> on the website. You understand that your actions could have consequences, and may result in criminal or civil liability. We do not endorse, take any responsibility, or accept liability for your actions.</p>

<h2>Your content</h2>
<p>You retain the intellectual property rights to your copyrighted content. By submitting content to the website, you grant us a licence to use, distribute, reproduce or adapt the content for any purpose. This licence is worldwide, irrevocable, and free from royalty.</p>

<h2>Prohibited content</h2>
<p>You may not use, or help others to use, the website for any illegal or harmful purposes, including:
<ul>
    <li><strong>illegal content</strong> - including sharing or advertising child pornography or content that infringes the intellectual property rights of others (such as their copyright or trademarks), inciting or encouraging harm against others, or conducting or advertising illegal transactions (such as selling drugs or promoting unlicensed gambling);</li>
    <li><strong>fraudulent content</strong> - including offering, sharing or promoting false information relating to goods, services, or schemes, or otherwise misleading others in a way that is harmful or illegal;</li>
    <li><strong>abusive content</strong> - including content that is defamatory or vulgar, infringes another’s right to privacy (such as their personal information), or is otherwise unreasonably or objectionable; or</li>
    <li><strong>destructive content</strong> - including content or software designed for the purpose of malicious damage to computers, systems, or data, or to control or otherwise access any of these things.</li>
    <li><strong>the following services are prohibited on our platform/network:</strong>
    <li>gaming servers</li>
    <li>torrents</li>
    <li>proxies</li>
    <li>VPN services</li>
    <li>tunnels</li>
    <li>gateways</li>
    <li>streaming</li>
    <li>crypto / mining</li>
    </li>
</ul>
</p>

<h2>Prohibited conduct</h2>
<p>You may not use, or help others to use, the website or its services to interfere with the connections or security of networks, systems, or other users including:
<ul>
    <li><strong>unauthorized access</strong> - including accessing or attempting to access a network, system or user’s profile without permission;</li>
    <li><strong>surveillance</strong> - including the surveillance of any data on a network, system or user’s profile without permission;</li>
    <li><strong>intentional harm</strong> - including intentionally damaging the structure or efficient working of a network, system or user’s profile through physical or electronic means (such as Denial of Service attacks);</li>
    <li><strong>spam</strong> - including sending or promoting unsolicited mass electronic communications without permission;</li>
    <li><strong>data manipulation</strong> - including the malicious and fraudulent altering of any data on or sent by a network, system, or user’s profile without permission; or</li>
    <li><strong>system manipulation</strong> - including the malicious and fraudulent alteration of a network, system, or user’s profile without permission.</li>
</ul>
</p>

<h2>Investigation and enforcement</h2>
<p>We will investigate any breach of this policy. During and after an investigation, we can alter or remove any content that breaches this policy, or share this content or related information with any relevant third party, including other users or law enforcement agencies. This section applies to any agreements that you have with us.</p>

<h2>Your duty to report breaches</h2>
<p>You agree to notify us of any breach of this policy, via email or any other reporting process that we have set up.</p>

<h2>Changes</h2>
<p>We may change the terms of this policy at any time. We will notify you of any changes by placing a notice in a prominent place on the website or by email. If you do not agree with the change you must stop using the services. If you continue to use the services following notification of a change to the terms, the changed terms will apply to you and you will be deemed to have accepted such terms.</p>
</div>