<div class="container railspt-9">
<br>
<h1 class="text-center ">Privacy Policy</h1>

<h2>Introduction</h2>
<p>Welcome to our privacy policy. We are SMC IT Solutions (Pty) Ltd (Registration number 2012/004131/07) and this is our plan of action when it comes to protecting your privacy on InstantMeetings. We respect your privacy and take the protection of personal information very seriously. The purpose of this policy is to describe the way that we collect, store, use, and protect information that can be associated with you or another specific natural or juristic person and can be used to identify you or that person <strong>(personal information)</strong>.</p>

<h2>Audience</h2>
<p>This policy applies to you if you are:
<ul>
    <li>a visitor to our website; or</li>
    <li>a customer who has requested the services that we provide.</li>
</ul>
</p>

<h2>Personal information</h2>
<p>Personal information <strong><em>includes:</em></strong>  
<ul>
<li>certain information that we collect automatically when you visit our website;</li>
<li>certain information collected on registration (see below);</li>
<li>certain information collected on submission; and</li>
<li>optional information that you provide to us voluntarily (see below);</li>
</ul>
but <strong><em>excludes:</em></strong> 
<ul>
<li>information that has been made anonymous so that it does not identify a specific person;</li>
<li>permanently de-identified information that does not relate or cannot be traced back to you specifically;</li>
<li>non-personal statistical information collected and compiled by us; and</li>
<li>information that you have provided voluntarily in an open, public environment or forum including any blog, chat room, community, classifieds, or discussion board (because the information has been disclosed in a public forum, it is no longer confidential and does not constitute personal information subject to protection under this policy).</li>
</ul>
</p>

<h3>Common examples</h3>
<p>Common examples of the types of personal information which we may collect and process include your:
<ul>
    <li><strong>identifying information</strong> – such as your name, date of birth, or identification number of any kind;</li>
    <li><strong>contact information</strong> – such as your phone number or email address; or</li>
    <li><strong>address information</strong>  – such as your physical or postal address.</li>
</ul>
</p>

<h3>Sensitive personal information</h3>
<p>Depending on the services that you require, we may also collect sensitive personal information including your:
<ul>
    <li><strong>financial information</strong> – such as your bank account details;</li>
    <li><strong>sensitive demographic information</strong> – such as your race or ethnicity;</li>
    <li><strong>employment information</strong> – including your membership of a trade union.</li>
</ul>
</p>

<h2>Acceptance</h2>
<h3>Acceptance required</h3>
<p>You must accept all the terms of this policy when you request our services. If you do not agree with anything in this policy, then you may not order request our services.</p>

<h3>Legal capacity</h3>
<p>You may not access our website or request our services if you are younger than 18 years old or do not have legal capacity to conclude legally binding contracts.</p>

<h3>Deemed acceptance</h3>
<p>By accepting this policy, you are deemed to have read, understood, accepted, and agreed to be bound by all of its terms.</p>

<h3>Your obligations</h3>
<p>You may only send us your own personal information or the information of another data subject where you have their permission to do so.</p>

<h2>Changes</h2>
<p>We may change the terms of this policy at any time by updating this web page. We will notify you of any changes by placing a notice in a prominent place on the website or by sending you an email detailing the changes that we have made and indicating the date that they were last updated. If you do not agree with the changes, then you must stop using the website and our services. If you continue to use the website or our services following notification of a change to the terms, the changed terms will apply to you and you will be deemed to have accepted those updated terms.</p>

<h2>Collection</h2>
<h3>On registration</h3>
<p>Once you register on our website, you will no longer be anonymous to us. You will provide us with certain personal information when you register on our website.
This personal information will include:
<ul>
<li>your name and surname;</li>
<li>your email address;</li>
<li>your telephone number;</li>
<li>your company name, company registration number, and VAT number;</li>
<li>your postal address or street address;</li>
<li>technical information relating to your server, including hostname, domain prefixes, and root password; and</li>
<li>your username and password.</li>
</ul>
We will use this personal information to fulfil your account, provide additional services and information to you as we reasonably think appropriate, and for any other purposes set out in this policy.
</p>

<h3>On request</h3>
<p>When you request our services from us, you will be asked to provide us with additional information on a voluntary basis <strong>(services information)</strong>.</p>

<h3>From browser</h3>
<p>We automatically receive and record Internet usage information on our server logs from your browser, such as your Internet Protocol address <strong>(IP address)</strong>, browsing habits, click patterns, version of software installed, system type, screen resolutions, colour capabilities, plug-ins, language settings, cookie preferences, search engine keywords, JavaScript enablement, the content and pages that you access on the website, and the dates and times that you visit the website, paths taken, and time spent on sites and pages within the website <strong>(usage information)</strong>. Please note that other websites visited before entering our website might place personal information within your URL during a visit to it, and we have no control over such websites. Accordingly, a subsequent website that collects URL information may log some personal information.</p>

<h3>Cookies</h3>
<p>
We may place small text files called ‘cookies’ on your device when you visit our website. These files do not contain personal information, but they do contain a personal identifier allowing us to associate your personal information with a certain device. These files serve a number of useful purposes for you, including:
<ul>
    <li>granting you access to age restricted content;</li>
    <li>tailoring our website’s functionality to you personally by letting us remember your preferences;</li>
    <li>improving how our website performs;</li>
    <li>allowing third parties to provide services to our website; and</li>
    <li>helping us deliver targeted advertising where appropriate in compliance with the applicable laws.</li>
</ul>
Your internet browser generally accepts cookies automatically, but you can often change this setting to stop accepting them. You can also delete cookies manually. However, no longer accepting cookies or deleting them will prevent you from accessing certain aspects of our website where cookies are necessary. Many websites use cookies and you can find out more about them at www.allaboutcookies.org.
</p>

<h3>Third party cookies</h3>
<p>Some of our business partners use their own cookies or widgets on our website. We have no access to or control over them. Information collected by any of those cookies or widgets is governed by the privacy policy of the company that created it, and not by us.</p>

<h3>Web beacons</h3>
<p>Our website may contain electronic image requests <strong>(called a single-pixel gif or web beacon request)</strong> that allow us to count page views and to access cookies. Any electronic image viewed as part of a web page (including an ad banner) can act as a web beacon. Our web beacons do not collect, gather, monitor or share any of your personal information. We merely use them to compile anonymous information about our website.</p>
</div>
