<div class="container railspt-9">
<br>
<h1 class="text-center ">Refund Policy</h1>
<h2>Our Services</h2>
<p>We supply cloud based services. Our services include online video conferencing and collabobration platform.</p>
<h2>Read instructions</h2>
<p>Please carefully read and follow all instructions that come with our services. For example, any documents that help you use our services. Please also read our website at https://instantmeetings.co.za/ for tips on using our services.</p>

<h2>Our warranty</h2>
<p>We warrant that we will provide all our services as soon as reasonably possible after you have informed us that you would like us to begin providing the services.</p>

<h2>Cooling-off period</h2>
<p>Section 44 of the Electronic Communications and Transactions Act may apply to your electronic transactions. If you qualify as a consumer under the ECT Act, you may be entitled to cancel some electronic transactions within seven days, without reason or penalty. Section 44 is only applicable if you are a natural person – in other words, a human being. You must also be the end user of the service. The transaction must be an electronic transaction – a transaction concluded via (in whole or in part) the website, email, or SMS.</p>

<h3>Refund of services in terms of cooling-off period</h3>
<p>The right to cancel does not apply to any services where you have given us your permission to provide them to you within seven days of accepting your request for the services.</p>

<h2>Statutory warranty against defects</h2>
<p>We warrant all our new services against any defects for six months of normal household or business use, from the time we supplied the services. This is the statutory warranty in terms of the Consumer Protection Act of 2008 (the CPA).</p>

<h3>Unsatisfactory service</h3>
<p>An unsatisfactory service is one that was not provided in a way or was not of a level of quality that an average person would expect of that type of service. You must claim that a service was unsatisfactory.</p>

<h3>Statutory compensation</h3>
<p>We will refund the price of any unsatisfactory service that you submit a successful claim for. Refund claims must follow our refunds procedure below.</p>

<h3>Choice of compensation</h3>
<p>Any customer that is also a consumer under the CPA may decide whether we should either, provide them with additional services to remedy or refund them for unsatisfactory service. We will decide how to compensate any of our other customers.</p>

<h2>Procedure for returns to other suppliers</h2>
<p>Customers of other suppliers (such as major retail chains) must return defective or unsuitable services directly to that supplier. Customers must use the correct returns procedure. Please contact the customer services department of the relevant supplier for details of their returns procedures.</p>

<h2>Delays in providing services</h2>
<p>We will diligently try to provide the services as agreed. But, there may be delays which are not our fault that prevent us from providing the services. We will notify you of any delays caused by reasons beyond our control.</p>

<h2>Place, date and time for providing services</h2>
<p>Except for when the services are provided over the Internet, we will only provide you with the services at the place and at the date and time agreed to between us. If we are unable to provide the services to you at the place, date and time as agreed for any reason, we will contact you and agree a new place, date and time to provide the services to you.</p>

<h2>Assignment of the services</h2>
<p>We may assign our rights and duties under the agreement, including our duty to provide the services to you, to any successor or purchaser of our business or some of our assets. Any successor or purchaser will provide alternative services similar to ours that are reasonably accessible to you.</p>

<h2>Our refund procedure</h2>
<p>You must use our refunds procedure for returning defective or unsuitable services, or else we may refuse to accept them. Our returns and refunds procedure is as follows:
<ul>
    <li>Download a return or refund claim form from our website or ask our customer services department email the form to you.</li>
    <li>Fill in the form with your contact details, date and place of purchase, and all details of the unsatisfactory service that you want to return, including how and why you believe the services are defective or unsuitable for your purpose.</li>
    <li>Email the refund claim form to customer services. Customer services should contact you with a refund claim number within 24 hours of receipt, otherwise you must contact them to get the number.</li>
    <li>Our customer services department may tell you that they do not believe you have a claim. In this case we may refuse to pay a refund.</li>
    <li>We will then investigate as soon as reasonably possible whether the services we provided you were unsatisfactory. We will create a report whether we believe the services were of a level of quality that an average person would expect of that type of service or not.</li>
    <li>If the services were cancelled too late or our report says that we believe the services were of a level of quality that an average person would expect of that type of service, then we will inform you that we are unfortunately unable to remedy or refund the refund the service.</li>
    <li>If you cancel the service, we will stop providing the relevant service as soon as reasonably possible and contact you to arrange payment of the refunded amount into a bank account of your choice within 30 days of cancellation.</li>
</ul>
</p>

<h2>Dispute resolution</h2>
<p>If we do not accept that we supplied unsatisfactory services, and our customer services department has not been able to help, any customer may still take the matter up with a suitable ombud or other dispute resolution body, or take legal action. The dispute resolution procedures under the CPA do not necessarily apply to all transactions with us. This policy does not exclude any other rights customers may have.</p>

<h2>Our customer services department contact details</h2>
<p>Our customers can contact our service department as follows:
<ul>
    <li>Telephone number: +27 87 135 1015</li>
    <li>Email address: accounts@smcit.co.za</li>
    <li>Postal address: PO Box 22415, Glenashley, Durban, South Africa, 4022</li>
</ul>
</p>
</div>