<div class="container railspt-9">
<br>
<h1 class="text-center ">Security Policy</h1>
<h2>Introduction</h2>
<p>There is no such thing as ‘perfect security’. We have to create a balance between increased levels of security and making transacting with us convenient to you as well as providing a stable and reliable service.</p>

<h2>Our security responsibilities</h2>
<p>We will ensure that:
<ul>
<li>We host our website in a secure server environment that uses a firewall and other advanced security measures to prevent interference or access from outside intruders.</li>
<li>The information you give to us that is stored on or passes through our systems is protected. Encryption is used to protect the personal information you give us where it is appropriate.</li>
<li>The links from our systems to systems under the control of third parties (for example our payment gateway) are secure.</li>
<li>We perform regular backups of data to ensure it can be recovered in the case of a disaster.</li>
<li>We log all access to our system. If any unauthorised behaviour should occur, this will assist us in identifying and resolving the issue.</li>
<li>We take reasonable steps to secure your payment information and use a payment system that is sufficiently secure with reference to accepted technological standards at the time of the transaction and the type of the transaction concerned.</li>
<li>We are responsible for hosting our website securely, protecting your information you give us, securing our links, backing-up our data, logging access, and taking reasonable steps to secure payment information.</li>
</ul>
</p>

<h2>Our security disclaimers</h2>
<p>Please note the following:
<ul>
    <li>The third parties whose systems we link to are responsible for the security of information while it is collected by, stored on, or passing through the systems under their control.</li>
    <li>We will use all reasonable endeavours to ensure that our website and your information is not compromised. However, we cannot guarantee that no harmful code will enter our website (for example viruses, bugs, Trojan horses, spyware or adware). You should be aware of the risks associated with using websites (addressed below).</li>
    <li>If you experience a problem or loss that is caused by: (i) information you provided to us; (ii) your computer being compromised in some way; (iii) or by something beyond our control.</li>
</ul>
We cannot take responsibility for causing the problem. We will, however, do our best to help you if we can.
</p>

<h2>Your security responsibilities</h2>
<h3>Recommended steps</h3>
<p>You should:
<ul>
<li>Install and activate appropriate security software on your computer. This should include anti-virus, anti-spyware and anti-spam software.</li>
<li>Run regular scans of your computer for viruses.</li>
<li>Update your security software to ensure you are always running the current version.</li>
</ul>
</p>

<h3>Additional steps</h3>
<p>Other steps you should take to help protect your computer include:
<ul>
    <li>Check your Internet browser’s security settings for ways to make your browsing more secure.</li>
    <li>Make sure that you have entered secure pages when filling in your sensitive personal information. Look for a small yellow lock commonly seen at the bottom right of your browser and http changes to https on the address bar.</li>
    <li>Log out after you have transacted electronically.</li>
</ul>
</p>

<h2>Protecting your password</h2>
<p>You should:
<ul>
    <li>Never share your password with anyone.</li>
    <li>Never send your password via email.</li>
    <li>Make your password as strong as possible.</li>
</ul>
</p>

<h2>Credit card information</h2>
<h3>Safe and secure</h3>
<p>Transacting with us electronically (including transacting and using your credit card on our website) is safe and secure. It is much the same as transacting in person face-to-face.</p>

<h3>Payment processing</h3>
<p>We do not get involved in any credit card transactions directly. All credit card transactions are handled or acquired for us via PayFast who are the approved payment gateway for our bankers. No credit card details are stored on our website. Payfast uses the strictest form of encryption, namely Secure Socket Layer 3 (SSL3). You may go to https://www.payfast.co.za/ to view their security certificate and security policy.</p>

<h3>Payment verification</h3>
<p>A Certificate Authority (or CA) GeoTrust (https://letsencrypt.org/) checks, verifies, and certifies our service provider’s company registration documents and domains to ensure that nobody can impersonate them to obtain your payment Information.</p>

<h3>Secure URL</h3>
<p>Once you begin the checkout process you will notice that the site URL will change from “http” to” https” and a small padlock will appear at the bottom of your screen. This is indicative of a secure Internet transaction.</p>

<h3>Verification programs</h3>
<p>We support the Verified by Visa program or the MasterCard SecureCode.</p>

<h2>Phishing</h2>
<h3>Secure URL</h3>
<p>You must only log in to your account from a page that begins with https://instantmeetings.co.za/.</p>

<h3>No confirmation through links</h3>
<p>We will never ask you to confirm your username and password or other sensitive information by clicking on any links in an email other than the email link we send you at registration to verify your email address. Be aware of “phishing” attacks where criminals attempt to obtain your sensitive information by sending you an email, masquerading as an email from us, asking you to access your account or verify information via links.</p>

</div>